<app-header></app-header>
<div style="background:linear-gradient(180deg, #F4EBC7 5.73%, #FBD5B2 100%);">
  <app-foto-con-testo-sovrapposto></app-foto-con-testo-sovrapposto>
  <app-come-funziona></app-come-funziona>
  <app-woodlot-in-un-minuto></app-woodlot-in-un-minuto>
  <app-raccolta-foto></app-raccolta-foto>
  <app-perche-woodlot></app-perche-woodlot>
  <app-card-rettangolare-con-bottone-list></app-card-rettangolare-con-bottone-list>
  <app-foto-con-testo-list></app-foto-con-testo-list>
  <app-card-con-testo-con-icona-laterale-list></app-card-con-testo-con-icona-laterale-list>
</div>
<app-footer></app-footer>

