.btn-primary {
  --cui-btn-bg: #5E7250;
  --cui-btn-border-color: #5E7250;
  --cui-btn-hover-border-color: #94AD6E;
  --cui-btn-hover-bg: #94AD6E;
  --cui-btn-border-radius: 30px;
  --cui-btn-active-bg: #C4D89F;
  --cui-btn-active-border-color: #C4D89F;
}

.btn-outline-secondary:hover {
  background-color: #94AD6E;
  border-color: #94AD6E;
  color: white;
}

.btn-outline-secondary:hover {
  background-color: #C4D89F;
  border-color: #C4D89F;
  color: white;
}

.card-text {
  color: #94AD6E;
  cursor: pointer;
}
