<div class="card">
  <img src="{{sourceImage}}" class="card-img-top"/>
  <div class="card-body">
    <h5 class="card-title">{{foresta.nome}}</h5>
    <div class="row">
      <p class="card-text col-6" [cModalToggle]="modalXl.id">Scopri di piu!</p>
      <a class="btn btn-primary col-6" [cModalToggle]="modalLg.id">Modifica dati</a>
    </div>
  </div>
</div>


<c-modal #modalXl id={{foresta.nome}} size="xl">
  <c-modal-header>
    <h5 cModalTitle class="text-center">{{foresta.nome}}</h5>
    <button [cModalToggle]="modalXl.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div class="row">
      <img src="{{sourceImage}}">
    </div>
    <div class="row mt-3 mx-5 text-center">
      <div class="col">
        <h4><b>Foresta creata da: </b>{{foresta.proprietario.nome}} {{foresta.proprietario.cognome}}</h4>
      </div>
      <div class="col">
        <h4><b>{{foresta.alberi.length}}</b> Alberi piantati</h4>
      </div>
    </div>
    <div class="row justify-content-center my-3">
      <a class="btn btn-primary col-4" [cModalToggle]="verticallyCenteredModal.id">Pianta anche tu in questa
        foresta!</a>
    </div>
    <div class="row mx-2" style="background-color: #F4EBC7">
      <div class="col-3">
        <p class="fw-bold">Impatto</p>
        <p>Gli alberi che piantiamo hanno grandi ambizioni: portare benefici non solo all'ambiente, ma anche alle
          persone che lo abitano. Per questo lavoriamo con ONG e comunità locali per selezionare l'albero giusto,
          per il posto giusto e per il giusto scopo. Per questo ragioniamo sul medio e lungo periodo, perché non
          ci accontentiamo di piantare alberi: vogliamo farli crescere.</p>
        <p style="background-color:#93C572">Gli alberi della foresta assorbiranno: {{getCo2Foresta()}} tonnellate di
          CO<sub>2</sub></p>
      </div>
      <div class="col-9 ">
        <h4 class="text-center">Gli alberi della foresta</h4>
        <app-card-albero-foresta-list [listaAlberi]="foresta.alberi.slice(0,3)"></app-card-albero-foresta-list>
        <div class="row justify-content-center mt-3">
          <a class="btn btn-primary justify-content-center col-3 mb-3">Vedi tutti!</a>
        </div>
      </div>
    </div>
  </c-modal-body>
</c-modal>

<c-modal #verticallyCenteredModal alignment="center" id="verticallyCenteredModal">
  <c-modal-header>
    <h5 cModalTitle>Pianta un albero nella foresta: {{foresta.nome}}</h5>
  </c-modal-header>
  <c-modal-body>
    <select aria-label="Small select example" cSelect sizing="sm">
      <option>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="verticallyCenteredModal.id" cButton color="primary">Aggiungi!</button>
  </c-modal-footer>
</c-modal>

<c-modal #modalLg id="modalLg" size="lg">
  <c-modal-header>
    <h5 cModalTitle>Modifica dati foresta</h5>
  </c-modal-header>
  <c-modal-body>
    <form cForm class="row g-3">
      <c-col [md]="6">
        <label cLabel for="nomeforesta">Nome</label>
        <input cFormControl id="nomeForesta" type=""/>
      </c-col>
      <c-col [md]="6">
        <label cLabel for="tipologiaForesta">Tipologia</label>
        <select id="tipologiaForesta" aria-label="Default select example" cSelect>
          <option value="pubblica">Pubblica</option>
          <option value="privata">Privata</option>
        </select>
      </c-col>
      <c-col [xs]="12">
        <label cLabel for="fotoForesta">Foto Foresta</label>
        <c-input-group>
          <input aria-describedby="inputGroupFileAddon04"
                 aria-label="Upload"
                 cFormControl
                 id="fotoForesta"
                 type="file">
          <button cButton
                  color="secondary"
                  id="inputGroupFileAddon04"
                  type="button"
                  variant="outline">
            Carica!
          </button>
        </c-input-group>
      </c-col>
      <c-col [xs]="12" class="text-center">
        <button [cModalToggle]="modalLg.id"  cButton type="submit">Modifica</button>
      </c-col>
    </form>

  </c-modal-body>
</c-modal>
