<div class="row  justify-content-center m-3">
  <h2 class="mb-3 text-center">Inserisci un nuovo prodotto</h2>
  <form [formGroup]="formInserimento"
        (ngSubmit)="onSubmit()"
        [gutter]="3"
        novalidate
        cForm cRow
        class="needs-validation">

    <div class="row gy-3">

      <div class="col-md-4">
        <label for="nomeAlbero" class="form-label">Nome albero</label>
        <input cFormControl formControlName="nomeAlbero" type="text" class="form-control" id="nomeAlbero"
               placeholder="Inserisci il nome del nuovo albero"
               [ngClass]="{'is-invalid':(submitted || f['nomeAlbero'].touched) && f['nomeAlbero'].invalid,
            'is-valid': (submitted ||f['nomeAlbero'].touched) && f['nomeAlbero'].valid }">
        <div *ngIf="submitted && f['nomeAlbero'].invalid" class="invalid-feedback">
          <div *ngIf="f['nomeAlbero'].errors?.['required']">Compila questo campo</div>
          <div *ngIf="f['nomeAlbero'].errors?.['maxLength']">{{formErrori.nomeAlbero.maxLength}}</div>
          <div *ngIf="f['nomeAlbero'].errors?.['pattern']">{{formErrori.nomeAlbero.pattern}}</div>
        </div>
        <div *ngIf="submitted && f['nomeAlbero'].valid" class="valid-feedback">
          Looks good!
        </div>
      </div>

      <div class="col-md-4">
        <label for="specieScientifica" class="form-label">Specie scientifica</label>
        <input cFormControl formControlName="specieScientifica" type="text" class="form-control" id="specieScientifica"
               placeholder="Inserisci la specie scientifica dell'albero"
               [ngClass]="{'is-invalid':(submitted || f['specieScientifica'].touched) && f['specieScientifica'].invalid,
            'is-valid': (submitted ||f['specieScientifica'].touched) && f['specieScientifica'].valid }">
        <div *ngIf="submitted && f['specieScientifica'].invalid" class="invalid-feedback">
          <div *ngIf="f['specieScientifica'].errors?.['required']">Compila questo campo</div>
          <div *ngIf="f['specieScientifica'].errors?.['maxLength']">{{formErrori.specieScientifica.maxLength}}</div>
          <div *ngIf="f['specieScientifica'].errors?.['pattern']">{{formErrori.specieScientifica.pattern}}</div>
        </div>
        <div *ngIf="submitted && f['specieScientifica'].valid" class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4">
        <label for="prezzo" class="form-label">Prezzo</label>
        <input cFormControl formControlName="prezzo" type="text" class="form-control" id="prezzo"
               placeholder="Inserisci il prezzo dell'albero"
               [ngClass]="{'is-invalid':(submitted || f['prezzo'].touched) && f['prezzo'].invalid,
            'is-valid': (submitted ||f['prezzo'].touched) && f['prezzo'].valid }">
        <div *ngIf="submitted && f['prezzo'].invalid" class="invalid-feedback">
          <div *ngIf="f['prezzo'].errors?.['required']">Compila questo campo</div>
          <div *ngIf="f['prezzo'].errors?.['pattern']">{{formErrori.prezzo.pattern}}</div>
        </div>
        <div *ngIf="submitted && f['prezzo'].valid" class="valid-feedback">
          Looks good!
        </div>
      </div>
    </div>

    <div class="row gy-3">

      <div class="col-md-6">
        <label class="form-label" for="paese">Paese</label>
        <select cSelect formControlName="paese" id="paese" [ngClass]="{'is-invalid':(submitted || f['paese'].touched) && f['paese'].invalid,
            'is-valid': (submitted ||f['paese'].touched) && f['paese'].valid }">

          <option *ngFor="let item of listaPaesi" value="{{item.nome}}">{{item.nome}}</option>
        </select>
        <div *ngIf="f['paese'].invalid" class="invalid-feedback">Compila questo campo</div>
      </div>

      <div class="col-md-6">
        <label class="form-label" for="categoria">Categoria</label>
        <select cSelect formControlName="categoria" id="categoria" [ngClass]="{'is-invalid':(submitted || f['categoria'].touched) && f['categoria'].invalid,
            'is-valid': (submitted ||f['categoria'].touched) && f['categoria'].valid }">
          <option *ngFor="let item of listaCategorie" value="{{item.nome}}">{{item.nome}}</option>
        </select>
        <div *ngIf="f['categoria'].invalid" class="invalid-feedback">Compila questo campo</div>
      </div>
    </div>

    <div class="row gy-3">
      <div class="col-md-6">
        <label for="descrizioneBreve" class="form-label">Descrizione breve</label>
        <textarea cFormControl formControlName="descrizioneBreve" type="text" class="form-control" id="descrizioneBreve"
                  placeholder="Inserisci la descrizione breve dell'albero"
                  [ngClass]="{'is-invalid':(submitted || f['descrizioneBreve'].touched) && f['descrizioneBreve'].invalid,
            'is-valid': (submitted ||f['descrizioneBreve'].touched) && f['descrizioneBreve'].valid }">
        </textarea>
        <div *ngIf="submitted && f['descrizioneBreve'].invalid" class="invalid-feedback">
          <div *ngIf="f['descrizioneBreve'].errors?.['required']">Compila questo campo</div>
          <div *ngIf="f['descrizioneBreve'].errors?.['maxLength']">{{formErrori.descrizioneBreve.maxLength}}</div>
        </div>
        <div *ngIf="submitted && f['descrizioneBreve'].valid" class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-6">
        <label for="descrizione" class="form-label">Descrizione</label>
        <textarea cFormControl formControlName="descrizione" type="text" class="form-control" id="descrizione"
                  placeholder="Inserisci la descrizione dell'albero"
                  [ngClass]="{'is-invalid':(submitted || f['descrizione'].touched) && f['descrizione'].invalid,
            'is-valid': (submitted ||f['descrizione'].touched) && f['descrizione'].valid }">
        </textarea>
        <div *ngIf="submitted && f['descrizione'].invalid" class="invalid-feedback">
          <div *ngIf="f['descrizione'].errors?.['required']">Compila questo campo</div>
          <div *ngIf="f['descrizione'].errors?.['maxLength']">{{formErrori.descrizione.maxLength}}</div>
        </div>
        <div *ngIf="submitted && f['descrizione'].valid" class="valid-feedback">
          Looks good!
        </div>
      </div>
    </div>

    <div class="row gy-3">
      <div class="col-md-6">
        <label class="form-label" for="usiLocali">Usi locali</label>
        <select formControlName="usiLocali" id="usiLocali" multiple cSelect
                [ngClass]="{'is-invalid':(submitted || f['usiLocali'].touched) && f['usiLocali'].invalid,
            'is-valid': (submitted ||f['usiLocali'].touched) && f['usiLocali'].valid }">
          <option *ngFor="let item of listaUsiLocali" value="{{item.nome}}">{{item.nome}}</option>
        </select>
        <div *ngIf="f['usiLocali'].invalid" class="invalid-feedback">Compila questo campo</div>
        <div *ngIf="submitted && f['usiLocali'].valid" class="valid-feedback">
          Looks good!
        </div>
      </div>

      <div class="col-md-6">
        <label class="form-label" for="benefici">Benefici</label>
        <select aria-label="Small select example" cSelect multiple formControlName="benefici" id="benefici"
                [ngClass]="{'is-invalid':(submitted || f['benefici'].touched) && f['benefici'].invalid,
            'is-valid': (submitted ||f['benefici'].touched) && f['benefici'].valid }">
          <option *ngFor="let item of listaBenefici" value="{{item.nome}}">{{item.nome}}</option>
        </select>
        <div *ngIf="f['benefici'].invalid" class="invalid-feedback">Compila questo campo</div>
        <div *ngIf="submitted && f['benefici'].valid" class="valid-feedback">
          Looks good!
        </div>
      </div>
    </div>

    <div class="row gy-3">
      <div class="col-md-6">
        <label for="anidrideCarbonica" class="form-label">CO<sub>2</sub></label>
        <input cFormControl formControlName="anidrideCarbonica" type="text" class="form-control" id="anidrideCarbonica"
               placeholder="Inserisci l'anidride carbonica assorbita dall'albero"
               [ngClass]="{'is-invalid':(submitted || f['anidrideCarbonica'].touched) && f['anidrideCarbonica'].invalid,
            'is-valid': (submitted ||f['anidrideCarbonica'].touched) && f['anidrideCarbonica'].valid }">
        <div *ngIf="submitted && f['anidrideCarbonica'].invalid" class="invalid-feedback">
          <div *ngIf="f['anidrideCarbonica'].errors?.['required']">Compila questo campo</div>
          <div *ngIf="f['anidrideCarbonica'].errors?.['pattern']">{{formErrori.anidrideCarbonica.pattern}}</div>
        </div>
        <div *ngIf="submitted && f['anidrideCarbonica'].valid" class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-6">
        <label for="salvaguardia" class="form-label">Salvaguardia</label>
        <input cFormControl formControlName="salvaguardia" type="text" class="form-control" id="salvaguardia"
               placeholder="Inserisci la salvaguardia"
               [ngClass]="{'is-invalid':(submitted || f['salvaguardia'].touched) && f['salvaguardia'].invalid,
            'is-valid': (submitted ||f['salvaguardia'].touched) && f['salvaguardia'].valid }">
        <div *ngIf="submitted && f['salvaguardia'].invalid" class="invalid-feedback">
          <div *ngIf="f['salvaguardia'].errors?.['required']">Compila questo campo</div>
          <div *ngIf="f['salvaguardia'].errors?.['pattern']">{{formErrori.salvaguardia.pattern}}</div>
        </div>
        <div *ngIf="submitted && f['salvaguardia'].valid" class="valid-feedback">
          Looks good!
        </div>
      </div>
    </div>

    <div class="row gy-3">
      <div class="col-md-3">
        <label for="foto1" class="form-label">Foto</label>
        <input (change)="onFileSelected1($event)" cFormControl formControlName="foto1" type="file" class="form-control"
               id="foto1"
               [ngClass]="{'is-invalid':(submitted || f['foto1'].touched) && f['foto1'].invalid,
            'is-valid': (submitted ||f['foto1'].touched) && f['foto1'].valid }">
        <div *ngIf="f['usiLocali'].invalid" class="invalid-feedback">Compila questo campo</div>
      </div>
      <div class="col-md-3">
        <label for="foto2" class="form-label">Foto</label>
        <input (change)="onFileSelected2($event)" cFormControl formControlName="foto2" type="file" class="form-control"
               id="foto2"
               [ngClass]="{'is-invalid':(submitted || f['foto2'].touched) && f['foto2'].invalid,
            'is-valid': (submitted ||f['foto2'].touched) && f['foto2'].valid }">
        <div *ngIf="f['usiLocali'].invalid" class="invalid-feedback">Compila questo campo</div>
      </div>
      <div class="col-md-3">
        <label for="foto3" class="form-label">Foto</label>
        <input (change)="onFileSelected3($event)" cFormControl formControlName="foto3" type="file" class="form-control"
               id="foto3"
               [ngClass]="{'is-invalid':(submitted || f['foto3'].touched) && f['foto3'].invalid,
            'is-valid': (submitted ||f['foto3'].touched) && f['foto3'].valid }">
        <div *ngIf="f['usiLocali'].invalid" class="invalid-feedback">Compila questo campo</div>
      </div>
      <div class="col-md-3">
        <label for="foto4" class="form-label">Foto</label>
        <input (change)="onFileSelected4($event)" cFormControl formControlName="foto4" type="file" class="form-control"
               id="foto4"
               [ngClass]="{'is-invalid':(submitted || f['foto4'].touched) && f['foto4'].invalid,
            'is-valid': (submitted ||f['foto4'].touched) && f['foto4'].valid }">
        <div *ngIf="f['usiLocali'].invalid" class="invalid-feedback">Compila questo campo</div>
      </div>
    </div>

    <hr class="my-4">
    <div class="text-center my-3" *ngIf="errorMessage!= ''" style="color: red">{{errorMessage}}</div>
    <div class="row justify-content-center mt-3">
      <button class="col-6 btn btn-primary btn-lg" type="submit">Inserisci</button>
    </div>

  </form>
</div>
