<hr class="m-4" style="color:#688952;">

<div class="row d-flex align-items-center justify-content-center">

  <div class="col text-center">
    <img src="{{sourceImage}}" class="img-fluid">
  </div>

  <div class="col-md-5">
    <h5>{{prodottoCarrello.nome}}</h5>
  </div>

  <div class="col-md-4">
    <h6>Prezzo: {{prodottoCarrello.prezzo.toFixed(2)}}€</h6>
  </div>

  <div class="col-md-1 col-lg-1 col-xl-1 text-end">
    <a><i class="fas fa-times"></i></a>
  </div>
</div>


<hr class="m-4" style="color:#688952">
