<div class="container" id="section-paesi">
  <h3>I nostri alberi nel mondo</h3>
  <app-foto-con-testo [sourceImage]="'assets/img/chiSiamo/07.jpg'"
                      [descrizione]="'Realizziamo progetti diversi, in paesi diversi, ma seguendo la medesima filosofia: realizzare benefici ambientali e sociali.\n'+
'Scopri, paese per paese, i progetti che stiamo realizzando nel mondo per renderlo più verde, nel modo giusto.'"
                      [class]="'col-md-7 col-sm-12 '"
  ></app-foto-con-testo>

  <h3>I progetti attivi nel mondo</h3>
  <p>Tutto è iniziato in Guatemala. Abbiamo poi messo nuove radici nell’amazzonia peruviana ed in tutte le regioni
    italiane</p>
  <div class="row ">
    <div class="col-lg-3 col-md-6 col-sm-6 mb-2 mb-lg-0">
      <img src="assets/img/chiSiamo/06.jpg" class="h-75 w-100 shadow-1-strong rounded mb-2">
      <figcaption class="figure-caption text-center">Guatemala</figcaption>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-2 mb-lg-0">
      <img src="assets/img/chiSiamo/09.jpeg" class=" h-75 w-100 shadow-1-strong rounded mb-2">
      <figcaption class="figure-caption text-center">Perù</figcaption>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-2 mb-lg-0">
      <img src="assets/img/chiSiamo/08.jpg" class="h-75 w-100 shadow-1-strong rounded mb-2">
      <figcaption class="figure-caption text-center">Italia</figcaption>
    </div>
    <div class="col-lg-3 col-md-6 mb-2 col-sm-6 mb-lg-0">
      <img src="assets/img/chiSiamo/10.webp" class="h-75 w-100 shadow-1-strong rounded mb-2">
      <figcaption class="figure-caption text-center">Argentina</figcaption>
    </div>
  </div>

  <h3>Perchè tutto è inziato dal Guatemala?</h3>
  <p>Il contesto però è fondamentale: l’area boschiva del Guatemala è stata letteralmente depredata negli ultimi 40
    anni: incendi boschivi incontrollati, degrado del territorio legato al narcotraffico e una cattiva gestione del
    territorio hanno portato a livelli devastanti di deforestazione. Un albero, due valori. Per iniziare il nostro
    percorso abbiamo scelto di partire da un paese con un alto tasso di povertà e una regione, il Petén, nel Nord-Ovest
    del Guatemala, in cui un albero può fare la differenza, non solo dal punto di vista ambientale ma anche sociale:
    portare sostegno all’economia e all’alimentazione delle famiglie. La nostra scelta sostiene pienamente la volontà di
    legare l’albero alla sfida climatica che tocca tutti, in tutto il mondo, ma non tutti allo stesso modo. Come
    scegliamo le comunità? Il processo di selezione delle comunità è assai complesso. Per esempio in Guatemala, in
    collaborazione con il centro Universitario CUDEP de la Universidad de San Carlos de Guatemala, vengono fatte delle
    analisi del territorio, della condizione socio-economica delle popolazioni che vivono le comunità e di queste, viene
    stilato un profilo. Le più idonee passano alla fase successiva: la formazione sui temi di agricoltura organica.</p>

  <h3 class="text-center">Il nostro team</h3>
  <p class="text-center">WoodLot riunisce una squadra piena di idee, di molta passione e che ha voglia di cambiare il mondo. Conosciamoci
    meglio!</p>

  <div class="row text-center mt-5">

    <div class="col-lg-4 justify-content-center">
      <img class="bd-placeholder-img rounded-circle" src="assets/img/chiSiamo/14.jpg" width="140" height="140" alt="Foto profilo">
      <h2 class="fw-normal">Raffaella Spagnuolo</h2>
    </div>

    <div class="col-lg-4 justify-content-center">
      <img class="bd-placeholder-img rounded-circle" src="assets/img/chiSiamo/12.JPG" width="140" height="140" alt="Foto profilo">
      <h2 class="fw-normal">Alessia Ture</h2>

    </div>

    <div class="col-lg-4 justify-content-center">
      <img class="bd-placeholder-img rounded-circle" src="assets/img/chiSiamo/13.jpeg" width="140" height="140" alt="Foto profilo">
      <h2 class="fw-normal">Salvatore Di Sanza</h2>
    </div>


  </div>
</div>

