<div class="container mt-5 d-flex justify-content-center">
  <div class="ro d-flex align-items-center justify-content-center" id="condividi">
    <div class="col-md-8">
      <p class="fw-bold fs-3">Fai crescere la communuity condividi WoodLot!</p>
      <p class="fs-4 text-uppercase">Tante facce, diverse motivazioni.<br> Un Unico obiettivo:
        <small class="fst-italic text-capitalize">Let's green the planet</small></p>

      <section class="my-4">
        <ul class="list-inline mx-2 ">
          <li class="list-inline-item">
            <a class="m-1" href="#!">
              <img src="assets/img/chiSiamo/socialMedia/Behance.png">
            </a>
          </li>

          <li class="list-inline-item">
            <a class="m-1 " href="#!">
              <img src="assets/img/chiSiamo/socialMedia/Facebook.png">
            </a>
          </li>

          <li class="list-inline-item">
            <a class="m-1" href="#!">
              <img src="assets/img/chiSiamo/socialMedia/Instagram.png">
            </a>
          </li>

          <li class="list-inline-item">
            <a class="m-1" href="#!">
              <img src="assets/img/chiSiamo/socialMedia/TikTok.png">
            </a>
          </li>

          <li class="list-inline-item">
            <a class="m-1" href="#!">
              <img src="assets/img/chiSiamo/socialMedia/Twitter.png">
            </a>
          </li>
        </ul>
      </section>
    </div>
    <div class=""></div>
    <div class="col-md-4">
      <img src="assets/img/chiSiamo/11.svg" height="278" class="justify-content-end">
    </div>
  </div>
</div>
