<c-card class="mb-3 text-center">
  <img cCardImg="top" src="{{sourceImage}}">
  <c-card-body>
    <h5 cCardTitle>{{prodottoOrdine.nome}}</h5>
    <p cCardText>
      <b>Id: </b> {{prodottoOrdine.codice}}
    </p>
    <div class="row text-center ">
      <div class="mt-1" cCardText><b>Data modifica:</b> {{prodottoOrdine.dataAssegnazione | date: 'dd/MM/yy'}}</div>
      <a class="mt-3" cCardText>Effettuare il pagamento</a>
      <br>
      <a class="mt-3" cCardText>Foto non valida</a>
    </div>
  </c-card-body>
</c-card>

