div
{
  background-color: white;
  padding: 20px;
  margin: 0px;
  width: 100%;
}
div ul
{
  float: right;
  list-style-type: none;
}
ul li
{
  display: inline-block;
  padding: 10px;
}
li a
{
  cursor: pointer;
  color: #93C572;
  text-display: none;
}
