<div class="row">
  <div class="col-lg-2">
    <div class="main-box">
      <ul class="menu-item list-unstyled">
        <li (click)="goTo('Alberi')" [ngClass]="{'onActive':selectedMenu == 'Alberi'}">
            <i class="fa-sharp fa-solid fa-leaf"> </i> Alberi
        </li>
        <li (click)="goTo('Badge')" [ngClass]="{'onActive':selectedMenu == 'Badge'}">
            <i class="fa-sharp fa-solid fa-trophy "></i> Badge
        </li>
        <li (click)="goTo('Foreste')" [ngClass]="{'onActive':selectedMenu == 'Foreste'}">
         <i class="fa-solid fa-tree"></i>  Foreste
        </li>
      </ul>
    </div>
  </div>

  <div class="col-lg-10">
      <div *ngIf="selectedMenu == 'Alberi'">
          <app-sezione-albero [listaAlberi]="listaAlberi"></app-sezione-albero>
      </div>
      <div *ngIf="selectedMenu == 'Badge'">
        <app-sezione-badge></app-sezione-badge>
      </div>
      <div *ngIf="selectedMenu == 'Foreste'">
        <p>Foreste</p>
      </div>

  </div>
</div>


