<div class="container-fluid">
  <br>
  <h1 class="text-center mb-4">Scegli e pianta i tuoi alberi</h1>
  <p class="text-center">Hai mai pensato di piantare un albero? È un gesto semplice, ma con un grande impatto. Porterà
    benefici all'ambiente
    e alle persone, e diventerà un regalo originale per le persone che ami.</p>
  <p class="m-3">Scegli e pianta il tuo albero in base alle sue caratteristiche </p>
  <div class="row row-cols-lg-5 text-center">
    <app-filtro *ngFor="let item of listNomiFiltri; index as i"
                [nomeFiltro]="listNomiFiltri[i]" [elementi]="listFiltri[i]"
                class="col mt-1"
                (filterApplied)="onFilterApplied($event)"
    ></app-filtro>
  </div>
</div>

<div class="row  d-flex justify-content-center mx-5 mt-3 g-5">
  <app-card-prodotto
    *ngFor="let item of listaAlberi; index as i"
    class="col-lg-3 col-md-4 col-xs-12 col-sm-6
                            col-xs-12 d-flex justify-content-center"
    [sourceImage]="urlBase+item.nome.toLowerCase().replace(' ','')+endBase" [albero]="item"

  ></app-card-prodotto>
</div>
