<div class="text-center">
  <h3>Loro piantano, loro raccolgono!</h3>
  <p class="py-3">Ecco alcuni dei beneficiari degli alberi e dei loro frutti</p>
</div>
<div class="m-5">
  <div class="row text-center">
    <div class="col-6">
      <app-immagine [sourceImage]="listaImmagini[0]"></app-immagine>
      <p>Fausto, un contadino beneficiario</p>
    </div>
    <div class="col-6">
      <app-immagine [sourceImage]="listaImmagini[1]" class=""></app-immagine>
      <p>Francesco, imbarazzato per la foto</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-3 ">
      <app-immagine [sourceImage]="listaImmagini[2]"></app-immagine>
    </div>
    <div class="col-3">
      <app-immagine [sourceImage]="listaImmagini[3]"></app-immagine>
    </div>
    <div class="col-3">
      <app-immagine [sourceImage]="listaImmagini[4]"></app-immagine>
    </div>
    <div class="col-3">
      <app-immagine [sourceImage]="listaImmagini[5]"></app-immagine>
    </div>
  </div>
</div>
<div class="text-center my-4">
  <a cButton href=" " style="background: #5E7250; border-color:#5E7250">Unisciti a loro!</a>
</div>
<div class="text-center my-4">
  <h4>Come funziona?</h4>
  <p class="mx-5 my-3">Raccontare ciò che avviene nei nostri progetti, le comunità dei contadini locali, gli alberi e
    tutto l'impegno
    che c'è dietro è parte integrante del nostro lavoro. Lo facciamo attraverso le pagine web che ogni albero
    che piantiamo ha sulla nostra piattaforma. E lo facciamo attraverso immagini, parole e video. Come questi che
    abbiamo
    raccolto qui per farvi vedere... come funziona!</p>
</div>
<div class="row text-center mx-5">
  <div class="col-4">
    <app-immagine [sourceImage]="listaImmagini[6]"></app-immagine>
    <p>THE NURSERY</p>
  </div>
  <div class="col-4">
    <app-immagine [sourceImage]="listaImmagini[7]"></app-immagine>
    <p>PROJECT TRAINING</p>
  </div>
  <div class="col-4">
    <app-immagine [sourceImage]="listaImmagini[8]"></app-immagine>
    <p>GRAFTING</p>
  </div>
</div>
<div class="row text-center mx-5">
  <div class="col-4">
    <app-immagine [sourceImage]="listaImmagini[9]"></app-immagine>
    <p>TREE PLANTING</p>
  </div>
  <div class="col-4">
    <app-immagine [sourceImage]="listaImmagini[10]"></app-immagine>
    <p>TREE DISTRUBUTION</p>
  </div>
  <div class="col-4">
    <app-immagine [sourceImage]="listaImmagini[11]"></app-immagine>
    <p>TREE MAINTENANCE</p>
  </div>
</div>
<div class="row text-center mx-5">
  <div class="col-6">
    <app-immagine [sourceImage]="listaImmagini[12]"></app-immagine>
    <p>TREE REPLACING</p>
  </div>
  <div class="col-6">
    <app-immagine [sourceImage]="listaImmagini[13]"></app-immagine>
    <p>PICK FRUIT</p>
  </div>
</div>
