<div class="text-center">
  <h3>Loro piantano, loro raccolgono!</h3>
  <p class="py-3">Ecco alcuni dei beneficiari degli alberi e dei loro frutti</p>
</div>

<div class="row text-center mx-md-4">
  <div class="col-6">
    <img src="../../../../../assets/img/diventaUnContadino/25.jpg" class="w-50">
    <p>Fausto, un contadino beneficiario</p>
  </div>
  <div class="col-6">
    <img src="../../../../../assets/img/diventaUnContadino/24.jpg" class="w-50">
    <p>Francesco, imbarazzato per la foto</p>
  </div>
</div>
<div class="row text-center">
  <div class="col"></div>
  <div class="col-3">
    <img src="../../../../../assets/img/diventaUnContadino/2.jpg" class="w-75">
  </div>
  <div class="col-3">
    <img src="../../../../../assets/img/diventaUnContadino/6.jpg" class="w-75">
  </div>
  <div class="col-3">
    <img src="../../../../../assets/img/diventaUnContadino/5.jpg" class="w-75">
  </div>
  <div class="col"></div>
</div>

<div class="text-center my-4">
  <a cButton href=" " style="background: #5E7250; border-color:#5E7250">Unisciti a loro!</a>
</div>
<div class="text-center py-4">
  <h4>Come funziona?</h4>
  <p class="px-5 py-3">Raccontare ciò che avviene nei nostri progetti, le comunità dei contadini locali, gli alberi e tutto l'impegno
    che c'è dietro è parte integrante del nostro lavoro. Lo facciamo attraverso le pagine web che ogni albero
    che piantiamo ha sulla nostra piattaforma. E lo facciamo attraverso immagini, parole e video. Come questi che
    abbiamo
    raccolto qui per farvi vedere... come funziona!</p>
</div>
<div class="row text-center">
  <div class="col-4">
    <img src="../../../../../assets/img/diventaUnContadino/17.jpg" class="w-75">
    <p>THE NURSERY</p>
  </div>
  <div class="col-4">
    <img src="../../../../../assets/img/diventaUnContadino/22.jpg" class="w-75">
    <p>PROJECT TRAINING</p>
  </div>
  <div class="col-4">
    <img src="../../../../../assets/img/diventaUnContadino/23.jpg" class="w-75">
    <p>GRAFTING</p>
  </div>
</div>
<div class="row text-center">
  <div class="col-4">
    <img src="../../../../../assets/img/diventaUnContadino/19.jpg" class="w-75">
    <p>TREE PLANTING</p>
  </div>
  <div class="col-4">
    <img src="../../../../../assets/img/diventaUnContadino/20.jpg" class="w-75">
    <p>TREE DISTRUBUTION</p>
  </div>
  <div class="col-4">
    <img src="../../../../../assets/img/diventaUnContadino/21.jpg" class="w-75">
    <p>TREE MAINTENANCE</p>
  </div>
</div>
<div class="row text-center">
  <div class="col-6">
    <img src="../../../../../assets/img/diventaUnContadino/18.jpg" class="w-75">
    <p>TREE REPLACING</p>
  </div>
  <div class="col-6">
    <img src="../../../../../assets/img/diventaUnContadino/12.jpg" class="w-75">
    <p>PICK FRUIT</p>
  </div>
</div>
