.ngx-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;


}

pagination-controls ::ng-deep .current {
  padding: 0.1875rem 0.625rem;
  background: #93C572 !important;
  color: #fefefe;
  cursor: default;
}

table {
  border-color: black;
}
