<div class="container">
  <div class="col-md-12 mt-4">
    <h3 class="text-center mb-4">Lista ordini</h3>
    <table cTable hover>
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Prodotti</th>
        <th scope="col">Data Ordine</th>
        <th scope="col">Totale</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let item of listaOrdini | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalItems }">
        <th scope="row">{{item.id}}</th>
        <td>
          <ul *ngFor="let prod of item!.prodottiOrdine" class="list-unstyled">
            <li>
              Nome: {{prod.nomeAlbero}}, Prezzo: {{prod.prezzoUnitario.toFixed(2)}}€,
              Stato: {{prod.stato}}
            </li>
          </ul>
        </td>
        <td>{{item.dataOrdine  |date: 'dd/MM/yy'}}</td>
        <td>{{item.totale.toFixed(2)}}€</td>
      </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls class="ngx-pagination" (pageChange)="currentPage = $event">
  </pagination-controls>
</div>
