.ngx-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;


}
.ngx-pagination a {
  color: #93C572 !important;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #5E7250 !important;
  margin-right: 5px;
  border-radius: 3px;
}

.ngx-pagination .current {
  color: #fff;
  background: #93C572;
}

ngx-pagination .navigation {
  font-weight: bold;
  margin-right: 15px;
}

table {
  border-color: black;
}
