<app-header></app-header>
<div class="container-fluid" style="background:linear-gradient(180deg, #F4EBC7 5.73%, #FBD5B2 100%);">
  <div class="row d-flex align-items-stretch">
    <app-benvenuto [nome]="responsabileOrdini.nome" [cognome]="responsabileOrdini.cognome"
                   [listaNomi]="listaNomi" [listaNumeri]="listaNumeri"
    ></app-benvenuto>
  </div>
  <div class="container">
    <c-nav variant="pills">
      <c-nav-item *ngFor="let nav of panes; index as i; first as isFirst;">
        <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="i" cNavLink>
          {{nav.name}}
        </a>
      </c-nav-item>
    </c-nav>

    <c-tab-content #tabContent="cTabContent"
                   (activeTabPaneIdxChange)="onTabChange($event)"
                   [activeTabPaneIdx]="activePane">
      <c-tab-pane *ngFor="let pane of panes; index as i;" class="p-3">
        <app-sezione-ordini *ngIf="activePane==0"></app-sezione-ordini>
        <app-sezione-pagamenti *ngIf="activePane==1"></app-sezione-pagamenti>
      </c-tab-pane>
    </c-tab-content>
  </div>
</div>
<app-footer></app-footer>
