<div class="container">
  <div class="col-md-12 mt-4">
    <h3 class="text-center mb-4">Lista contadini</h3>
    <table cTable hover class="text-center">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nominativo</th>
        <th scope="col">Titolare conto</th>
        <th scope="col">Swift</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of listaContadini">
        <th scope="row">{{item.id}}</th>
        <td>
          {{item.nome}} {{item.cognome}}
        </td>
        <td>{{item.titolareConto}}</td>
        <td>{{item.swift}}</td>
      </tr>
      </tbody>
    </table>
    <c-pagination aria-label="Page navigation example" class="d-flex justify-content-end mt-4">
      <li cPageItem>
        <a cPageLink aria-label="Previous" [routerLink]><span aria-hidden="true">&laquo;</span></a>
      </li>
      <li cPageItem>
        <a cPageLink [routerLink]>1</a>
      </li>
      <li cPageItem>
        <a cPageLink [routerLink]>2</a>
      </li>
      <li cPageItem>
        <a cPageLink [routerLink]>3</a>
      </li>
      <li cPageItem>
        <a cPageLink aria-label="Next" [routerLink]><span aria-hidden="true">&raquo;</span></a>
      </li>
    </c-pagination>
  </div>
</div>
