<c-card class="mt-3 mx-4" [ngStyle]="{'max-width.px': 1350}" style="border-radius: 20px; background-color: transparent; border-color: transparent">
  <c-row class="g-0">
    <c-col [md]="5" class="my-3 mx-3" [ngStyle]="{'max-width.px': 500}">
      <app-carousel-immagini [albero]="albero"></app-carousel-immagini>
    </c-col>
    <c-card-body cCol [md]="6" class="mx-4">
      <h1 cCardTitle class="my-2">{{albero.nome}}</h1>
      <div class="row">
        <div class="col mt-4">
          <p><b>Nome Scientifico: </b><em>{{albero.nomeScientifico}}</em></p>
        </div>
        <div class="col mt-4">
          <p><b>Prezzo: </b><em>{{albero.prezzo.toFixed(2)}}€</em></p>
        </div>
      </div>
      <p cCardText class="my-3">
        <b>Che  albero è?: </b><em>{{albero.breveDescrizione}}</em>
      </p>
      <div class="row">
        <p cCardText class="col mt-4">
          <small class="text-medium-emphasis"><a href="#">Cosa è incluso nel prezzo?</a></small>
        </p>
        <div class="col mt-2">
          <a cButton href="#" style="background: #5E7250; border-color:#5E7250">Acquista</a>
        </div>
      </div>
    </c-card-body>
  </c-row>
</c-card>
