<div class="modal-header">
  <h5>Cosa è incluso nel prezzo?<small><br>Non devi pagare altro in futuro</small></h5>
  <button cButtonClose (click)="modalRef.close()"></button>
</div>
<div class="modal-body">
  <img src="../../../../../../assets/img/paginaProdotto/prezzo.svg">
  <p class="mt-3">Piantare un albero con WoodLot significa finanziare un agricoltore per piantare un albero e sostenerlo fino a renderlo
    produttivo. Infatti con WoodLot un albero è molto più di un albero. Ecco cosa è incluso nel prezzo:</p>
  <ul>
    <li>Avvio del progetto</li>
    <li>Prezzo del seme</li>
    <li>Posizionamento della pianta</li>
    <li>Manutenzione dell'impianto fino a quando non fornisce un reddito all'agricoltore</li>
    <li>Sostituzione degli impianti guasti nei primi anni in cui il tasso di mortalità è maggiore</li>
    <li>Registrazione delle coordinate GPS dell'albero e monitoraggio fotografico</li>
    <li>Assegnazione di un ID albero univoco e inserimento dell'albero nel sistema</li>
    <li>Aggiornamenti periodici del progetto, con focus sui benefici ambientali e sociali</li>
  </ul>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" (click)="modalRef.close()">Capisco!</button>
</div>
