<c-footer class="text-center" style="background-color: #C4D89F">
  <div class="container pt-4">

    <section class="mb-3" [ngClass]="{'d-none': linkVisibili == false}">
      <div class="row">
        <div class="col-lg-2 col-md-6 mb-4 mb-md-2">
          <a routerLink="/catalogo">Alberi</a>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-md-2">
          <a routerLink="/chiSiamo">Chi Siamo</a>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-md-2">
          <a routerLink="/diventaUnContadino">Diventa un contadino</a>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-md-2">
          <a href="#!" [cModalToggle]="privacyModal.id">Privacy</a>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-md-2">
          <a href="#!" [cModalToggle]="condizioniModal.id">Condizioni d'utilizzo</a>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-md-2">
          <a href="#!" [cModalToggle]="cookieModal.id">Preferenze cookie</a>
        </div>
      </div>
    </section>
    <!-- Section: Social media -->
    <section class="my-4">
      <ul class="list-inline mx-2 ">
        <li class="list-inline-item">
          <a class="m-1" href="#!">
            <img src="assets/img/footer/socialMedia/trello.svg">
          </a>
        </li>

        <li class="list-inline-item">
          <a class="m-1 " href="#!">
            <img src="assets/img/footer/socialMedia/slack.svg">
          </a>
        </li>

        <li class="list-inline-item">
          <a class="m-1" href="#!">
            <img src="assets/img/footer/socialMedia/ms_word.svg">
          </a>
        </li>

        <li class="list-inline-item">
          <a class="m-1" href="#!">
            <img src="assets/img/footer/socialMedia/ms_excel.svg">
          </a>
        </li>

        <li class="list-inline-item">
          <a class="m-1" href="#!">
            <img src="assets/img/footer/socialMedia/teams.svg">
          </a>
        </li>
        <li class="list-inline-item">
          <a class="m-1" href="#!">
            <img src="assets/img/footer/socialMedia/stack_overflow.svg">
          </a>
        </li>
        <li class="list-inline-item">
          <a class="m-1" href="#!">
            <img src="assets/img/footer/socialMedia/figma.svg">
          </a>
        </li>
        <li class="list-inline-item">
          <a class="m-1" href="#!" role="button">
            <img src="assets/img/footer/socialMedia/procreate.svg">
          </a>
        </li>
        <li class="list-inline-item" style="height: 32px; width: 32px;">
          <a class="m-1" href="#!" role="button">
            <img src="assets/img/footer/socialMedia/git.svg">
          </a>
        </li>
      </ul>
    </section>
    <div class="text-center row">
      <p class="fs-3">WoodLot <span class="text-muted fw-light fs-6">© 2022</span>
        <br> <span class="fs-5">Made  with <i class="fa-solid fa-heart text-danger"></i></span></p>
    </div>
  </div>


</c-footer>

<!-- Modal Cookie -->
<c-modal #cookieModal id="cookieModal" scrollable>
  <c-modal-header>
    <h5 cModalTitle>Preferenze cookie</h5>
    <button [cModalToggle]="cookieModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <ng-container *ngTemplateOutlet="longContentCookie"></ng-container>
  </c-modal-body>
  <c-modal-footer>
    <button cButton [cModalToggle]="cookieModal.id" color="primary">Capisco!</button>
  </c-modal-footer>
</c-modal>

<ng-template #longContentCookie>
  <p>Questo documento contiene informazioni in merito alle
    tecnologie che consentono a questa Applicazione di raggiungere gli
    scopi descritti di seguito. Tali tecnologie permettono al Titolare
    di raccogliere e salvare informazioni (per esempio tramite
    l’utilizzo di Cookie) o di utilizzare risorse (per esempio
    eseguendo uno script) sul dispositivo dell’Utente quando
    quest’ultimo interagisce con questa Applicazione.</p>
  <p>Per semplicità, in questo documento tali tecnologie sono
    sinteticamente definite “Strumenti di Tracciamento”, salvo vi sia
    ragione di differenziare. Per esempio, sebbene i Cookie possano
    essere usati in browser sia web sia mobili, sarebbe fuori luogo
    parlare di Cookie nel contesto di applicazioni per dispositivi
    mobili, dal momento che si tratta di Strumenti di Tracciamento che
    richiedono la presenza di un browser. Per questo motivo,
    all’interno di questo documento il termine Cookie è utilizzato
    solo per indicare in modo specifico quel particolare tipo di
    Strumento di Tracciamento.</p>
  <p>Alcune delle finalità per le quali vengono impiegati
    Strumenti di Tracciamento potrebbero, inoltre richiedere il
    consenso dell’Utente. Se viene prestato il consenso, esso può
    essere revocato liberamente in qualsiasi momento seguendo le
    istruzioni contenute in questo documento.</p>
  <p>Questa Applicazione utilizza Strumenti di Tracciamento
    gestiti direttamente dal Titolare (comunemente detti Strumenti di
    Tracciamento “di prima parte”) e Strumenti di Tracciamento che
    abilitano servizi forniti da terzi (comunemente detti Strumenti di
    Tracciamento “di terza parte”). Se non diversamente specificato
    all’interno di questo documento, tali terzi hanno accesso ai
    rispettivi Strumenti di Tracciamento. Durata e scadenza dei Cookie
    e degli altri Strumenti di Tracciamento simili possono variare a
    seconda di quanto impostato dal Titolare o da ciascun fornitore
    terzo. Alcuni di essi scadono al termine della sessione di
    navigazione dell’Utente.</p>
  <p>In aggiunta a quanto specificato nella descrizione di
    ciascuna delle categorie di seguito riportate, gli Utenti possono
    ottenere informazioni più dettagliate ed aggiornate sulla durata,
    così come qualsiasi altra informazione rilevante - quale la
    presenza di altri Strumenti di Tracciamento - nelle privacy policy
    dei rispettivi fornitori terzi (tramite i link messi a
    disposizione) o contattando il Titolare.</p>
  <p>
    Per avere ulteriori informazioni riguardo ai consumatori
    californiani e ai loro diritti sulla privacy, gli Utenti possono
    consultare la privacy policy.
  </p>
  <p>
    <b>Attività strettamente necessarie a garantire il
      funzionamento di questa Applicazione e la fornitura del Servizio

    </b>
  </p>
  <p>Questa Applicazione utilizza Cookie comunemente detti
    “tecnici” o altri Strumenti di Tracciamento analoghi per svolgere
    attività strettamente necessarie a garantire il funzionamento o la
    fornitura del Servizio.</p>
</ng-template>

<!-- Modal Privacy -->
<c-modal #privacyModal id="privacyModal" scrollable>
  <c-modal-header>
    <h5 cModalTitle>Condizioni d'utilizzo</h5>
    <button [cModalToggle]="privacyModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <ng-container *ngTemplateOutlet="longContent"></ng-container>
  </c-modal-body>
  <c-modal-footer>
    <button cButton [cModalToggle]="privacyModal.id" color="primary">Capisco!</button>
  </c-modal-footer>
</c-modal>

<ng-template #longContent>
  <h6>Informativa sul trattamento di dati personali ai sensi del
    Regolamento (UE) 2016/679 del Parlamento europeo e del Consiglio del
    27 aprile 2016 (GDPR). In vigore dal 02/05/2022</h6>
  <br>
  <p>
    <b>PREMESSA</b>
  </p>
  <p>La presente informativa tiene conto di quanto indicato dal GDPR
    e dal Codice della Privacy (D. Lgs 30 giugno 2003 n. 196). Il
    documento è stato redatto anche in base alle Linee Guida del Garante
    Privacy (soprattutto le Linee Guida di contrasto allo spam emesse dl
    Garante Privacy il 4 luglio 2013). Titolare del Trattamento: Futura
    di Francesco Ragusa Sito al quale si riferisce la presente privacy
    policy: ecofactory.eu (Sito). Il Titolare del Trattamento non ha
    nominato un DPO. Pertanto, Lei può inviare qualsiasi richiesta di
    informazioni direttamente al Titolare del Trattamento.
  <p>
    <b>I NFORMAZIONI GENERALI</b>
  </p>
  <p>Il presente documento descrive come il Titolare del Trattamento
    tratta i Suoi dati personali conferiti sul Sito. Di seguito vengono
    descritti i principali trattamenti dei Suoi dati personali. Viene in
    particolare spiegata la base giuridica del trattamento, se il
    conferimento è obbligatorio e le conseguenze del mancato conferimento
    di dati personali. Per descrivere al meglio i Suoi diritti, qualora
    necessario, abbiamo specificato se e quando un determinato
    trattamento di dati personali non viene effettuato.Sul Sito Lei ha la
    possibilità di inserire dati personali di terzi soggetti. In questo
    caso Lei garantisce di aver ottenuto il consenso d parte di questi
    soggetti all'inserimento di questi dati personali. Pertanto, Lei si
    impegna a manlevare e tenere indenne il Titolare del Trattamento da
    qualsiasi responsabilità.</p>
  <p>
    <b>Registrazione sul Sito</b>
  </p>
  <p>Le informazioni e i dati richiesti in caso di registrazione
    verranno utilizzati per consentirLe sia di accedere all’area
    riservata del Sito, sia di usufruire dei servizi on line offerti dal
    Titolare del Trattamento agli utenti registrati. La base giuridica
    del trattamento è la necessità del Titolare del Trattamento di
    eseguire misure precontrattuali adottate su richiesta
    dell'interessato. Il conferimento dei dati è facoltativo. Tuttavia,
    il Suo eventuale rifiuto di conferire i dati comporterà
    l’impossibilità di registrarsi sul Sito.Sul Sito è possibile
    registrarsi utilizzando anche i servizi esterni. In questo caso i
    Suoi dati di registrazione saranno condivisi con le aziende di questi
    servizi esterni al solo fine di permettere la registrazione sul Sito.
    La base giuridica di questo trattamento è il legittimo interesse del
    Titolare del Trattamento a permettere la registrazione al Sito
    tramite servizi esterni. Il conferimento dei dati personali per
    questa finalità è meramente facoltativo. Il mancato assenso al
    trattamento dei dati comporterà però l'impossibilità di registrarsi
    tramite servizi esterni.</p>
  <p>
    <b>Acquisti sul Sito</b>
  <p>I Suoi dati personali verranno trattati per permetterLe di
    effettuare acquisti sul Sito. Nel caso di effettuazione di un ordine
    di acquisto online, per consentire la conclusione del contratto di
    acquisto e la corretta esecuzione delle operazioni connesse al
    medesimo (e, qualora necessario in base alla normativa di settore,
    per assolvere agli obblighi fiscali). La base giuridica del
    trattamento è l'obbligo del Titolare del Trattamento di eseguire il
    contratto con l'interessato oppure di adempiere ad obblighi di legge.
    A prescindere da quanto sopra (e quindi dal Suo consenso), il
    Titolare del Trattamento potrà trattare i suoi dati finalità di c.d.
    "soft-spam", disciplinato dall'art. 130 del Codice della Privacy.
    Questo significa che limitatamente alla email da Lei fornita nel
    contesto di un acquisto tramite il Sito, il Titolare del Trattamento
    tratterà l'email per consentire l’offerta diretta da parte di
    prodotti/servizi analoghi, sempre che Lei non si opponga a tale
    trattamento nelle modalità previste dalla presente informativa. La
    base giuridica del trattamento è il legittimo interesse del Titolare
    del Trattamento ad inviare questo tipo di comunicazioni. Questo
    legittimo interesse può ritenersi equivalente all'interesse
    dell'interessato a ricevere comunicazioni di "soft-spam". Il Titolare
    del Trattamento potrà inviare email per ricordare all'utente di
    completare un acquisto. La base giuridica di questo trattamento è il
    legittimo interesse del Titolare del Trattamento a inviare questa
    tipologia di comunicazioni.</p>
  <p>
    <b>Rispondere alle Sue richieste </b>
  </p>
  <p>I Suoi dati verranno trattati per rispondere alle Sue richieste
    di informazioni. Il conferimento è facoltativo, ma il Suo rifiuto
    comporterà l’impossibilità per il Titolare del Trattamento di
    rispondere alle Sue domande. La base giuridica del trattamento è il
    legittimo interesse del Titolare del Trattamento a dare seguito alle
    richieste dell’utente. Questo legittimo interesse è equivalente
    all'interesse dell'utente a ricevere risposta alle comunicazioni
    inviate al Titolare del Trattamento.</p>
  <p>
    <b>Marketing generico</b>
  </p>
  <p>Previo Suo consenso, il Titolare del Trattamento potrà trattare
    i dati personali da Lei conferiti al fine di inviarLe materiale
    pubblicitario e/o newsletter relativo a prodotti propri o di terzi.
    La base giuridica di questo trattamento è il Suo consenso. Il
    conferimento dei dati personali per questa finalità è meramente
    facoltativo. Il mancato assenso al trattamento dei dati per finalità
    di marketing comporterà l’impossibilità per Lei di ricevere materiale
    pubblicitario relativo a prodotti/servizi del Titolare del
    Trattamento e/o di terzi nonché l'impossibilità per il Titolare del
    Trattamento di svolgere indagini di mercato, anche dirette a valutare
    il grado di soddisfazione degli utenti, nonché di inviarLe
    newsletter. L'invio di queste comunicazioni avverrà alla e-mail da
    Lei conferita sul Sito.</p>
  <p>
    <b>Profilazione Previo</b>
  <p>Suo consenso, il Titolare del Trattamento potrà trattare i Suoi
    dati personali per finalità di profilazione, ossia per l'analisi
    delle Sue scelte di consumo attraverso la rivelazione della tipologia
    e della frequenza degli acquisti da Lei effettuati, al fine di
    inviarLe materiale pubblicitario e/o newsletter relativi a prodotti
    propri o di terzi, di Suo specifico interesse. La base giuridica di
    questo trattamento è il Suo consenso. Il conferimento dei dati per
    questa finalità è meramente facoltativo. Il mancato assenso al
    trattamento dei Suoi dati personali per finalità di profilazione
    comporterà l’impossibilità per il Titolare del Trattamento di
    elaborare il Suo profilo commerciale, mediante la rilevazione delle
    Sue scelte e abitudini di acquisto nonché di inviarLe materiale
    pubblicitario, relativo a prodotti del Titolare del Trattamento e/o
    di terzi, di Suo specifico interesse. Queste comunicazioni verranno
    inviate alla e-mail da Lei conferita sul Sito.</p>
</ng-template>

<!-- Modal Condizioni -->
<c-modal #condizioniModal id="condizioniModal" scrollable>
  <c-modal-header>
    <h5 cModalTitle>Privacy</h5>
    <button [cModalToggle]="condizioniModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <ng-container *ngTemplateOutlet="longContentCondizioni"></ng-container>
  </c-modal-body>
  <c-modal-footer>
    <button cButton [cModalToggle]="condizioniModal.id" color="primary">Capisco!</button>
  </c-modal-footer>
</c-modal>

<ng-template #longContentCondizioni>
  <h6>PREMESSA</h6>
  <p>
    Si disciplinano in questa sede le condizioni applicate agli acquisti
    effettuati dell'utente sulla piattaforma web di proprietà di WoodLot,
    <a href="www.treedom.net">www.WoodLot.net</a>. Si invita l’Utente a
    leggere con attenzione i seguenti termini e condizioni prima di
    procedere ad un qualunque acquisto. L'utente che procede ad
    acquistare un servizio su tale piattaforma dichiara di aver visionato
    e di accettare integralmente i seguenti termini e condizioni.

    L'utente della piattaforma (sia esso un individuo, un'azienda,
    un'istituzione etc.), può richiedere che siano piantati, all'interno
    dei progetti agroforestali promossi da WoodLot, uno o più alberi a
    proprio nome o a nome di terzi; nel primo caso il servizio viene
    genericamente indicato come "piantare" uno o più alberi, mentre nel
    secondo caso come "regala un albero", essendo indicato un terzo
    destinatario. L'utente intestatario di un albero è anche intestatario
    di un determinato quantitativo di kg di CO<sub>2</sub>, che
    rappresenta una stima prudenziale di quanta CO<sub>2</sub>
    quell'albero assorbirà, salvo quanto dettagliato al punto 6
    (Procedure informatiche). WoodLot procede per conto proprio o di
    terzi ad effettuare la piantumazione richiesta dall'utente. La
    piantumazione viene effettuata all'interno di progetti agroforestali
    dislocati in tutto il mondo, approvati da WoodLot se ritenuti idonei
    a essere promossi sulla piattaforma, ossia rispondenti ai principi ed
    ai criteri operativi richiesti. Tali progetti sono realizzati da
    agricoltori locali, che procedono alla messa a dimora di nuovi alberi
    grazie al contributo degli utenti della piattaforma. Spesso (ma non
    necessariamente) gli agricoltori operano sotto il coordinamento di
    cooperative, ONG o di altre realtà attive nella zona di progetto.
  </p>
  <h6>
    <br>1. IDENTITÀ DEL PROFESSIONISTA
  </h6>
  <p>WoodLot s.r.l., con sede legale in Firenze, Italia, viale
    Augusto Righi 66, 50137 Tel - Fax +39 055 050 3228, info@WoodLot.net

    Iscritta al Registro delle Imprese di Firenze, C.F. e P.I.
    06054770489</p>
  <h6>
    <br>2. CARATTERISTICHE ESSENZIALI DEL SERVIZIO
  </h6>
  <p>L'utente acquista, dietro un corrispettivo monetario, il
    servizio di piantumazione di uno o più alberi all'interno dei
    progetti promossi da WoodLot. WoodLot procede, per conto proprio o
    tramite terzi, ad effettuare il servizio di piantumazione richiesto
    dall'utente. Essendo l'oggetto della transazione costituito da un
    servizio, all'utente non viene consegnato fisicamente nessun elemento
    arboreo; gli alberi vengono infatti esclusivamente piantati
    all'interno dei terreni interessati dai progetti approvati e
    sostenuti da WoodLot, e non in eventuali terreni di cui dispone
    l'utente. Ne consegue che l'utente non possa vantare né rivendicare
    alcun diritto di proprietà sugli alberi di cui ha richiesto la
    piantumazione né su eventuali frutti. L'utente, con l'effettuazione
    del proprio ordine d'acquisto, dichiara di aver preso visione e di
    aver accettato le condizioni generali di contratto di seguito
    specificate e si obbliga ad osservarle e rispettarle nei suoi
    rapporti con WoodLot e con terzi nell'ambito del servizio in
    questione. Il contratto relativo al servizio offerto da WoodLot si
    considera concluso nel momento in cui perviene, da parte dell'utente,
    la richiesta di piantumazione. WoodLot invierà tempestivamente
    all'utente una notifica dell'avvenuta ricezione dell'ordine di
    piantumazione (via e-mail). Alla luce della natura del servizio, con
    la sottoscrizione del presente contratto il cliente acconsente
    all'immediata esecuzione dello stesso, nel senso che WoodLot, fin da
    subito, potrà procedere con l'erogazione del servizio di
    piantumazione richiesto.</p>
  <h6>
    <br>3. PREZZO DEL SERVIZIO E MODALITÀ DI PAGAMENTO
  </h6>
  <p>
    Il corrispettivo da pagare per la piantumazione di ciascun singolo
    albero è espresso sulla piattaforma in valuta euro. Il prezzo è
    determinato in base alla specie arborea, al potenziale di
    assorbimento di CO<sub>2</sub>, al paese di piantumazione, e potrà
    subire variazioni in funzione del livello di domanda ed offerta,
    oltre che di specifiche campagne promozionali. Pertanto, il prezzo di
    ciascun elemento arboreo sarà diverso da specie a specie e la
    medesima specie potrà avere prezzi diversi in periodi diversi.
    ed i prezzi ivi indicati dovranno essere presi a riferimento,
    dall'utente, al momento dell'effettuazione di ciascun ordine. Il
    prezzo indicato è comprensivo di ogni onere, iva inclusa, ed è
    corrisposto in un'unica soluzione. Il servizio di piantumazione non
    richiede pertanto, da parte dell'utente, alcun costo aggiuntivo.

    Laddove l'utente, contestualmente, richieda la piantumazione di più
    elementi arborei, l'importo totale da corrispondere a WoodLot sarà
    indicato complessivamente al termine della sessione di acquisto,
    ossia prima di procedere al pagamento. Il pagamento avviene in
    un'unica soluzione al momento dell'acquisto online. La modalità è
    elettronica e gestita dalla piattaforma di pagamento Braintree. Tale
    piattaforma offre diverse modalità di pagamento, quali, ad esempio,
    PayPal, carta di credito, bonifico bancario e pagamento con
    MasterPass.
  </p>

  <h6>4. MODALITÀ DI ESECUZIONE</h6>
  <p>Al momento dell'acquisto, l'utente indica il quantitativo di
    alberi che desidera piantare, scegliendo fra le specie disponibili.
    WoodLot procede, per conto proprio o tramite terzi, ad effettuare il
    servizio di piantumazione richiesto dall'utente con le tempistiche di
    seguito indicate. Il servizio di piantumazione viene solitamente
    effettuato in due momenti: quello della messa a vivaio dell'albero e
    quello del trapianto. Il primo avviene entro e non oltre 30 giorni
    dalla richiesta dell'utente, mentre il secondo entro e non oltre 18
    mesi dalla richiesta stessa. Tali tempistiche possono variare in
    funzione delle condizioni e dei cicli stagionali delle aree in cui
    vengono realizzati i progetti di piantumazione. WoodLot si impegna a
    sostituire eventuali fallanze (piante che non hanno attecchito) per i
    tre anni successivi dalla data di effettuazione della richiesta di
    piantumazione da parte dell'utente.</p>
  <h6>5. CAUSA DI FORZA MAGGIORE</h6>
  <p>WoodLot è esentata da tutte le responsabilità per il totale o
    parziale inadempimento di qualsiasi obbligazione riportata nelle
    presenti condizioni generali di vendita, qualora tale inadempimento
    sia causato da eventi imprevedibili e/o eventi naturali al di fuori
    del suo controllo e della sua responsabilità, includendo, a titolo di
    esemplificativo ma non esaustivo, eventi (disastri) naturali, atti di
    terrorismo, guerre, sommosse popolari. Si fa altresì presente che,
    per motivi di forza maggiore, la specie (o le specie) selezionata
    dall'utente con l'ordine di piantumazione potrebbe non essere
    disponibile al momento in cui si dovrebbe procedere al trapianto.
    Analogamente, potrebbe non essere possibile procedere al trapianto
    nel paese indicato sulla piattaforma al momento dell'avvenuto ordine
    da parte dell'utente. Ciò potrà avvenire nel caso di:</p>
  <ol>
    <li>sopravvenuta impossibilità di operare nel paese indicato
      sulla piattaforma al momento dell'ordine a causa di avversità
      climatiche, ecologiche, politiche, sociali, ovvero difficoltà
      operative di corretta gestione e manutenzione del progetto;
    </li>
    <li>sopravvenuta impossibilità di operare, in condizioni di
      sicurezza, nei paesi in cui è possibile piantare la specie
      richiesta, sia dal punto di vista del personale di WoodLot che dal
      punto di vista agricolo - ambientale per la crescita degli alberi;
    </li>
    <li>mancato attecchimento della specie nel vivaio o elevata
      probabilità che la specie, una volta trapiantata, non attecchirebbe;
    </li>
    <li>eventuale impossibilità di piantare la specie prescelta
      dall'utente a causa di eventi non preventivabili e non riconducibili
      all'operato di WoodLot, quali – a titolo esemplificativo e non
      esaustivo – l'improvvisa difficoltà nel reperire le materie agricole
      prime o l'inaspettato ed imprevedibile innalzamento dei costi di
      piantumazione e gestione della specie stessa, determinato da eventi
      estranei al rapporto tra WoodLot e l'utente (a titolo
      esemplificativo e non esaustivo, scoperte farmaceutiche) che non
      consentano di dare attuazione, alle condizioni pattuite, all'accordo
      intercorso tra le parti.
    </li>
  </ol>
  <p>
    Nelle ipotesi di cui ai commi 2 e 3 del presente articolo (ovvero in
    casi analoghi), l'utente acconsente a che il servizio di
    piantumazione da lui richiesto venga effettuato in paesi diversi e/o
    con specie arboree differenti, fermo restando che sarà piantato un
    quantitativo di alberi non inferiore a quello originariamente
    richiesto e, comunque, con una capacità totale di stoccaggio di CO<sub>2</sub>
    non inferiore a quella stimata al momento dell'effettuazione, da
    parte dell'utente, dell'ordine di piantumazione.
  </p>
  <h6>6. PROCEDURE INFORMATICHE</h6>
  <p>
    Per poter richiede il servizio di piantumazione online (a proprio
    nome o a nome di terzi nell'ambito del servizio "regala un albero"),
    l'utente deve necessariamente essere registrato sulla community di
    WoodLot ed avere preso visione ed accettato l'Informativa sul
    trattamento dei Dati Personali. In conseguenza della registrazione,
    l'utente può usufruire dei servizi e delle informazioni disponibili
    sulla piattaforma ed ivi dettagliatamente descritti. A seguito
    dell'effettuazione di un ordine di piantumazione (effettuato
    dall'utente o da altri nell'ambito del servizio "regala un albero"),
    l'utente diviene "intestatario virtuale" – all'interno della
    piattaforma – dell'albero e dei corrispondenti kg di CO<sub>2</sub>
    che, si suppone, l'albero assorbirà nel tempo. Tra i servizi
    disponibili sulla piattaforma (ed ivi dettagliati) vi è quello
    relativo alla possibilità di calcolare le emissioni di CO<sub>2</sub>
    e di neutralizzarle, grazie ai kg di CO<sub>2</sub> di cui ciascun
    utente dispone a seguito degli ordini di piantumazione effettuati.

    Laddove ciascun utente non effettuasse il log in sulla piattaforma
    per 6 mesi consecutivi, la CO<sub>2</sub> potenzialmente assorbibile
    dagli alberi di cui è intestatario diverrebbe utilizzabile in tutto o
    in parte da altri utenti. Prima che ciò accada, l'utente viene
    informato ed invitato da WoodLot ad effettuare un log in sulla
    piattaforma, al fine di restare intestatario della CO<sub>2</sub>.

    Relativamente al servizio "regala un albero", laddove il destinatario
    fosse un utente non ancora iscritto alla community, l'albero sarà
    intestato a tale destinatario solo nel momento in cui esso procederà
    ad effettuare la registrazione. Pertanto, laddove l'utente non si
    dovesse mai registrare – ovvero nell'arco temporale antecedente alla
    registrazione dello stesso – l'intestatario dell'albero (e della
    conseguente CO<sub>2</sub>) resterà l'utente che ne ha richiesto la
    piantumazione ed ha proceduto al pagamento.
  </p>
  <h6>7. INFORMAZIONI E RECLAMI</h6>
  <p>Per informazioni e chiarimenti sulle condizioni del servizio,
    nonché per eventuali reclami, il Cliente potrà contattarci al numero
    +39 055 050 3228 dal Lunedì al Venerdì, dalle ore 9:30 alle ore 13:30
    (GMT+1) o scriverci all'indirizzo di posta elettronica
    info@WoodLot.net.</p>
  <h6>8. LEGGE APPLICABILE E RISOLUZIONE DELLE CONTROVERSIE</h6>
  <p>Il contratto tra WoodLot e l'Utente è regolato dalla legge
    italiana. Nel caso di controversia tra WoodLot e l'Utente, laddove
    l'Utente sia un "Consumatore", la competenza territoriale è quella
    del foro di riferimento del suo comune di residenza, ai sensi del
    d.lgs. 6 settembre 2005, n. 206; in tutti gli altri casi, la
    competenza territoriale è esclusivamente quella del Foro di Firenze.
  </p>
  <h6>9. MODIFICHE DEL SERVIZIO O VARIAZIONE DELLE CONDIZIONI</h6>
  <p>WoodLot si riserva il diritto di modificare i Servizi offerti,
    le politiche ed i presenti Termini e Condizioni in qualsiasi momento
    per offrire nuovi prodotti o servizi o per adeguarsi a disposizioni
    di legge e regolamentari. L’Utente sarà soggetto alle politiche e ai
    termini dei presenti Termini e Condizioni di volta in volta vigenti
    nel momento in cui utilizzi i Servizi di WoodLot. Qualora una
    qualsiasi previsione delle presenti condizioni fosse ritenuta
    invalida, nulla o per qualunque motivo inapplicabile, tale condizione
    non pregiudicherà comunque la validità e l'efficacia delle altre
    previsioni. Le presenti condizioni saranno aggiornate periodicamente.

    È compito del cliente fare riferimento sempre all’ultima versione
    pubblicata sul sito.</p>
  <h6>10. TUTELA DELLA PRIVACY</h6>
  <p>I dati degli Utenti sono trattati da WoodLot conformemente a
    quanto previsto dalla normativa vigente in materia di protezione dei
    dati personali, come meglio specificato nella apposita Informativa
    sulla Privacy nonché all’interno delle Privacy e Cookie Policy.</p>
</ng-template>
