<div class="modal-header">
  <h5 cModalTitle>Benvenuto su WoodLot<small><br>Reimposta la tua password</small></h5>
  <button cButtonClose (click)="modalRef.close()"></button>
</div>

<div class="modal-body">
  <ng-container *ngTemplateOutlet="formReimpostaPassword"></ng-container>
</div>

<ng-template #formReimpostaPassword>
  <form [formGroup]="reimpostaPassword"
        (ngSubmit)="onSubmit()"
        [gutter]="3"
        novalidate
        cForm cRow
        class="needs-validation"
  >
    <c-col class="mb-3" [sm]="12">
      <label cLabel for="emailUtente">E-mail</label>
      <input cFormControl class="has-validation"
             id="emailUtente" formControlName="emailUtente"
             type="text" placeholder="mariorossi@gmail.com"
             [ngClass]="{ 'is-invalid': (submitted || f['emailUtente'].touched) && f['emailUtente'].invalid,
              'is-valid':(submitted || f['emailUtente'].touched) && f['emailUtente'].valid}"
      />
      <div *ngIf="submitted && f['emailUtente'].invalid" class="invalid-feedback">
        <div *ngIf="f['emailUtente'].errors?.['required']">Compila questo campo</div>
        <div *ngIf="f['emailUtente'].errors?.['email']">{{formErrori.emailUtente.email}}</div>
      </div>
      <div *ngIf="submitted && f['emailUtente'].valid" class="valid-feedback">
        Looks good!
      </div>
    </c-col>

    <c-col class="mb-3" [sm]="12">
      <label cLabel for="password">Password</label>
      <input cFormControl
             id="password" formControlName="password" type="password" placeholder="Password!4"
             [ngClass]="{ 'is-invalid': (submitted || f['password'].touched) && f['password'].invalid,
              'is-valid':(submitted || f['password'].touched) && f['password'].valid}"
      />
      <div *ngIf="submitted && f['password'].invalid" class="invalid-feedback">
        <div *ngIf="f['password'].errors?.['required']">Compila questo campo</div>
        <div *ngIf="f['password'].errors?.['minlength']">{{formErrori['password'].minLength}}</div>
        <div *ngIf="f['password'].errors?.['pattern']">{{formErrori['password'].pattern}}</div>
      </div>
      <div *ngIf="submitted && f['password'].valid" class="valid-feedback">
        Looks good!
      </div>
    </c-col>

    <c-col class="mb-3" [sm]="12">
      <label cLabel for="ripetiPassword">Conferma password</label>
      <input cFormControl
             id="ripetiPassword" formControlName="ripetiPassword"
             type="password" placeholder="Password!4"
             [ngClass]="{ 'is-invalid': (submitted || f['ripetiPassword'].touched) && f['ripetiPassword'].invalid,
              'is-valid':(submitted || f['ripetiPassword'].touched) && f['ripetiPassword'].valid}"
      />
      <div *ngIf="submitted && f['ripetiPassword'].invalid" class="invalid-feedback">
        <div *ngIf="f['ripetiPassword'].errors?.['required']">Compila questo campo</div>
        <div
          *ngIf="matchingPasswordValidator">Il campo password e conferma password non coincidono</div>
      </div>
      <div *ngIf="submitted && f['ripetiPassword'].valid" class="valid-feedback">
        Looks good!
      </div>
    </c-col>
    <div class="text-center my-3" *ngIf="errorMessage!= ''" style="color: red">{{errorMessage}}</div>
    <div class="row justify-content-center mt-3">
      <input class="col-6" cButton color="primary" type="submit" value="Reimposta password">
    </div>
  </form>
</ng-template>
