.modal-header .btn-close {
  box-shadow: none;
}

.btn-primary {
  --cui-btn-bg: #5E7250;
  --cui-btn-border-color: #5E7250;
  --cui-btn-hover-border-color: #93C572;
  --cui-btn-hover-bg: #93C572;
  --cui-btn-border-radius: 15px;
  --cui-btn-active-bg: #94AD6E;
  --cui-btn-active-border-color: #94AD6E;
  text-transform: capitalize;
}
