<div class="text-center">
  <h3 class="py-3">Loro piantano, loro raccolgono!</h3>
  <p>Ecco alcuni dei beneficiari degli alberi e dei loro frutti</p>
</div>
<div>
  <div class="row text-center mx-md-4">
    <div class="col-6">
      <img src="assets/img/diventaUnContadino/25.jpg" class="w-50">
      <p>Fausto, un contadino beneficiario</p>
    </div>
    <div class="col-6">
      <img src="assets/img/diventaUnContadino/24.jpg" class="w-50">
      <p>Francesco, imbarazzato per la foto</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col"></div>
    <div class="col-3">
      <img src="assets/img/diventaUnContadino/2.jpg" class="w-75">
    </div>
    <div class="col-3">
      <img src="assets/img/diventaUnContadino/6.jpg"  class="w-75">
    </div>
    <div class="col-3">
      <img src="assets/img/diventaUnContadino/5.jpg" class="w-75">
    </div>
    <div class="col"></div>
  </div>
</div>
<div class="text-center my-4">
  <a cButton href=" " style="background: #5E7250; border-color:#5E7250">Unisciti a loro!</a>
</div>

