<div>
  <h1 class="mb-3 text-center">Domande frequenti</h1>
  <mdb-accordion [flush]="true">
    <mdb-accordion-item>
      <ng-template mdbAccordionItemHeader>Chi riceve il regalo si deve iscrivere?</ng-template>
      <ng-template mdbAccordionItemBody>
        Sì, per ricevere in regalo un albero il destinatario deve
        iscriversi (o effettuare il login nel caso in cui sia già
        iscritto). Grazie all’iscrizione, il destinatario potrà seguire
        l’albero dal proprio profilo e ricevere gli aggiornamenti.
        Durante la procedura di riscatto, il sito fornirà tutte le
        indicazioni per creare un nuovo account, qualora il destinatario
        non ne avesse già uno
      </ng-template>
    </mdb-accordion-item>
    <mdb-accordion-item>
      <ng-template mdbAccordionItemHeader>Ho ricevuto un albero in regalo. Cosa devo fare?</ng-template>
      <ng-template mdbAccordionItemBody>
        Se hai ricevuto l’albero ti verrà chiesto di attivare il
        codice e, seguendo poche semplici istruzioni, potrai vedere il tuo albero.
        Tieni presente che per vedere l’albero è necessario iscriversi (se non hai già
        un profilo su WoodLot) o accedere con le credenziali che hai
        scelto al momento dell’iscrizione. Se hai ricevuto l’albero via
        mail, nella mail trovi il tasto “ritira il tuo regalo”: cliccaci
        e ti verranno date le istruzioni per creare un account o accedere
        a quello che hai già, dopodichè l’albero apparirà nella sezione
        “alberi - tuoi” del tuo profilo. Se invece hai ricevuto l’albero
        via messaggio, nel messaggio trovi un tasto o un link: cliccaci e
        arriverai direttamente nella sezione dedicata al tuo regalo, dove
        seguendo poche semplici istruzioni potrai vederlo. Tieni presente
        che per vedere l’albero è necessario iscriversi (se non hai già
        un profilo su WoodLot) o accedere con le credenziali che hai
        scelto al momento dell’iscrizione. In tutti i casi, questa
        procedura devi effettuarla solo la prima volta. In futuro potrai
        sempre vedere il tuo albero all’interno del tuo profilo,
        semplicemente effettuando l’accesso con le credenziali con cui ti
        sei iscritto.
      </ng-template>
    </mdb-accordion-item>
    <mdb-accordion-item>
      <ng-template mdbAccordionItemHeader>Come posso regalare un albero?</ng-template>
      <ng-template mdbAccordionItemBody>
        Per regalare un albero devi prima collocarlo all'interno del carrello, spuntando la spunta "è un regalo".
        In fase di acquisto, devi semplicemente indicare l’indirizzo
        e-mail del destinatario. FAI ATTENZIONE Il regalo sarà consegnato solo quando il
        destinatario accetterà di riceverlo.
      </ng-template>
    </mdb-accordion-item>
  </mdb-accordion>
</div>
