<div>
  <p>
    <a href="#" >Alberi</a>
    <a href="#" >Chi Siamo</a>
    <a href="#" >Diventa un contadino</a>
    <a href="#" >Condizioni d'utilizzo</a>
    <a href="#" >Privacy</a>
    <a href="#" >Preferenze coockie</a>
  </p>
  <!-- <p>
    <a href="#"><img src="/assets/img/footer/social/Facebook.png"></a>
    <a href="#"><img src="/assets/img/footer/social/Instagram.png"></a>
    <a href="#"><img src="/assets/img/footer/social/Youtube.png"></a>
    <a href="#"><img src="/assets/img/footer/social/Gmail.png"></a>
  </p> -->
  <p><img src="/assets/img/footer/WoodLot%20©%202022.png" alt="WoodLot&copy;">
  <br>
    <img src="assets/img/footer/Made%20with%20love.png" alt="Made with love"></p>
</div>
