<div class="container-fluid" style="background-color: #93C572">
  <div class="row align-content-center">
    <div class="col-lg-6 col-sm-12 ms-lg-5 text-sm-center">

      <h2 class="text-center">Woodlot in un minuto </h2>
      <h3 class="mt-3">3 Milioni</h3>
      <p class="fs-5">Gli alberi che abbiamo piantato dalla nascita di WoodLot, 2 anni fa!</p>
      <h3 class="mt-2">1 Milione</h3>
      <p class="fs-5">Le persone che hanno scelto di piantare alberi con noi</p>
    </div>
    <div class="col text-center">
      <img src="assets/img/home/05.svg" class="img-fluid" style="height: 250px;">
    </div>
  </div>
</div>


