<app-header></app-header>

<div class="container-fluid" style="background:linear-gradient(180deg, #F4EBC7 5.73%, #FBD5B2 100%);">
  <div class="row d-flex align-items-stretch">
    <app-benvenuto class="col-md-6 col-sm-12 h-100"
                   [nome]="contadino.nome" [cognome]="contadino.cognome"
                   [listaNomi]="listNomi" [listaNumeri]="listaNumeri"
    ></app-benvenuto>

  </div>
  <div class="container">
    <c-nav variant="pills">
      <c-nav-item *ngFor="let nav of panes; index as i; first as isFirst;">
        <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="i" cNavLink>
          {{nav.name}}
        </a>
      </c-nav-item>
    </c-nav>

    <c-tab-content #tabContent="cTabContent"
                   (activeTabPaneIdxChange)="onTabChange($event)"
                   [activeTabPaneIdx]="activePane">
      <c-tab-pane *ngFor="let pane of panes; index as i;" class="p-3">

        <c-row class="container" [gutter]="2" [xl]="4" [lg]="3" [md]="2" [xs]="2" *ngIf="activePane==0">
          <c-col *ngFor="let item of getAlberiPerStato('piantato'); index as i">
            <app-card-albero-contadino [titolo]="item.nome" [sourceImage]="''"
                                       [dataModifica]="item.dataAssegnazione" [id]="item.codice"
                                       [stato]="item.stato"
            ></app-card-albero-contadino>
          </c-col>
        </c-row>

        <c-row class="container" [gutter]="2" [xl]="4" [lg]="3" [md]="2" [xs]="2" *ngIf="activePane==1">
          <c-col *ngFor="let item of getAlberiPerStato('bocciolo'); index as i">
            <app-card-albero-contadino [titolo]="item.nome" [sourceImage]="''"
                                       [dataModifica]="item.dataAssegnazione" [id]="item.codice"
                                       [stato]="item.stato"
            ></app-card-albero-contadino>
          </c-col>
        </c-row>

        <c-row class="container" [gutter]="2" [xl]="4" [lg]="3" [md]="2" [xs]="2" *ngIf="activePane==2">
          <c-col *ngFor="let item of getAlberiPerStato('fiore'); index as i">
            <app-card-albero-contadino [titolo]="item.nome" [sourceImage]="''"
                                       [dataModifica]="item.dataAssegnazione" [id]="item.codice"
                                       [stato]="item.stato"
            ></app-card-albero-contadino>
          </c-col>
        </c-row>

        <c-row class="container" [gutter]="2" [xl]="4" [lg]="3" [md]="2" [xs]="2" *ngIf="activePane==3">
          <c-col *ngFor="let item of getAlberiPerStato('frutto'); index as i">
            <app-card-albero-contadino [titolo]="item.nome" [sourceImage]="''"
                                       [dataModifica]="item.dataAssegnazione" [id]="item.codice"
                                       [stato]="item.stato"
            ></app-card-albero-contadino>
          </c-col>
        </c-row>

        <c-row class="container" [gutter]="2" [xl]="4" [lg]="3" [md]="2" [xs]="2" *ngIf="activePane==4">
          <c-col *ngFor="let item of getAlberiPerStato('dormienza'); index as i">
            <app-card-albero-contadino [titolo]="item.nome" [sourceImage]="''"
                                       [dataModifica]="item.dataAssegnazione" [id]="item.codice"
                                       [stato]="item.stato"
            ></app-card-albero-contadino>
          </c-col>
        </c-row>

      </c-tab-pane>
    </c-tab-content>
  </div>

</div>

<app-footer></app-footer>
