<app-header></app-header>

<div class="container-fluid" style="background:linear-gradient(180deg, #F4EBC7 5.73%, #FBD5B2 100%);">
  <div class="row d-flex align-items-stretch">
    <app-benvenuto class="col-lg-6 col-md-12 align-self-center"
                   [nome]=contadino.nome [cognome]=contadino.cognome
                   [listaNomi]="listNomi" [listaNumeri]="listaNumeri"
    ></app-benvenuto>
    <app-storico-pagamenti class="col-lg-6"></app-storico-pagamenti>
  </div>
  <div class="container">
    <c-nav variant="pills">
      <c-nav-item *ngFor="let nav of panes; index as i; first as isFirst;">
        <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="i" cNavLink>
          {{nav.name}}
        </a>
      </c-nav-item>
    </c-nav>

    <c-tab-content #tabContent="cTabContent"
                   (activeTabPaneIdxChange)="onTabChange($event)"
                   [activeTabPaneIdx]="activePane">
      <c-tab-pane *ngFor="let pane of panes; index as i;" class="p-3">

        <c-row *ngIf="activePane==0">
          <div class="row" *ngIf="getAlberiPerStato('Assegnato').length == 0">
            <h3 class="text-center my-5 py-5">Non hai nuovi alberi!</h3>
          </div>
          <c-row class="container" [gutter]="2" [xl]="4" [lg]="3" [md]="2" [xs]="2">

            <c-col *ngFor="let item of getAlberiPerStato('Assegnato'); index as i">
              <app-card-albero-contadino [alberoContadino]="item"
                                         [sourceImage]="'assets/img/alberi/'+item.nomeAlbero.toLowerCase()+'/catalogo.webp'"
              ></app-card-albero-contadino>
            </c-col>
          </c-row>
        </c-row>

        <c-row *ngIf="activePane==1">
          <div class="row" *ngIf="getAlberiPerStato('Piantato').length == 0">
            <h3 class="text-center my-5 py-5">Non hai nessun albero nello stato piantato</h3>
          </div>
          <c-row class="container" [gutter]="2" [xl]="4" [lg]="3" [md]="2" [xs]="2">

            <c-col *ngFor="let item of getAlberiPerStato('Piantato'); index as i">
              <app-card-albero-contadino [alberoContadino]="item"
                                         [sourceImage]="'assets/img/alberiUtente/'+contadino.id+'/'+item.id+'.jpeg'"
              ></app-card-albero-contadino>
            </c-col>
          </c-row>
        </c-row>

        <c-row *ngIf="activePane==2">
          <div class="row" *ngIf="getAlberiPerStato('Bocciolo').length == 0">
            <h3 class="text-center my-5 py-5">Non hai nessun albero nello stato bocciolo</h3>
          </div>
          <c-row class="container" [gutter]="2" [xl]="4" [lg]="3" [md]="2" [xs]="2">
            <c-col *ngFor="let item of getAlberiPerStato('Bocciolo'); index as i">
              <app-card-albero-contadino [alberoContadino]="item"
                                         [sourceImage]="'assets/img/alberiUtente/'+contadino.id+'/'+item.id+'.jpeg'"
              ></app-card-albero-contadino>
            </c-col>
          </c-row>
        </c-row>

        <c-row *ngIf="activePane==3">
          <div class="row" *ngIf="getAlberiPerStato('Fiore').length == 0">
            <h3 class="text-center my-5 py-5">Non hai nessun albero nello stato fiore</h3>
          </div>
          <c-row class="container" [gutter]="2" [xl]="4" [lg]="3" [md]="2" [xs]="2">
            <c-col *ngFor="let item of getAlberiPerStato('Fiore'); index as i">
              <app-card-albero-contadino [alberoContadino]="item"
                                         [sourceImage]="'assets/img/alberiUtente/'+contadino.id+'/'+item.id+'.jpeg'"
              ></app-card-albero-contadino>
            </c-col>
          </c-row>
        </c-row>

        <c-row *ngIf="activePane==4">
          <div class="row" *ngIf="getAlberiPerStato('Frutto').length == 0">
            <h3 class="text-center my-5 py-5">Non hai nessun albero nello stato frutto</h3>
          </div>
          <c-row class="container" [gutter]="2" [xl]="4" [lg]="3" [md]="2" [xs]="2">
            <c-col *ngFor="let item of getAlberiPerStato('Frutto'); index as i">
              <app-card-albero-contadino [sourceImage]="'assets/img/alberiUtente/'+contadino.id+'/'+item.id+'.jpeg'"
                                         [alberoContadino]="item"
              ></app-card-albero-contadino>
            </c-col>
          </c-row>
        </c-row>

        <c-row *ngIf="activePane==5">
          <div class="row" *ngIf="getAlberiPerStato('Dormienza').length == 0">
            <h3 class="text-center my-5 py-5">Non hai nessun albero nello stato dormienza</h3>
          </div>
          <c-row class="container" [gutter]="2" [xl]="4" [lg]="3" [md]="2" [xs]="2">
            <c-col *ngFor="let item of getAlberiPerStato('Dormienza'); index as i">
              <app-card-albero-contadino [alberoContadino]="item"
                                         [sourceImage]="'assets/img/alberiUtente/'+contadino.id+'/'+item.id+'.jpeg'"
              ></app-card-albero-contadino>
            </c-col>
          </c-row>
        </c-row>

      </c-tab-pane>
    </c-tab-content>
  </div>

</div>

<app-footer></app-footer>
