<div class="text-center mx-5 my-4" style="border-radius: 20px; background-color:#C4D89F">
  <div class="row">
    <h3 class="my-4">Storico Contributo Economico</h3>
    <div class="row px-5">
      <table *ngIf="listaPagamenti?.length != 0 else listaVuota" class="table table-borderless">
        <thead>
        <tr>
          <th scope="col">Codice</th>
          <th scope="col">Importo</th>
          <th scope="col">Motivazione</th>
          <th scope="col">Data</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let item of listaPagamenti?.slice(0,3)">
          <th scope="row">{{item.id}}</th>
          <td>{{item.importo.toFixed(2)}}€</td>
          <td>{{item.motivazioni}}</td>
          <td>{{item.dataPagamento | date: 'dd/MM/yy'}}</td>
        </tr>
        </tbody>
      </table>

      <a *ngIf="listaPagamenti?.length !=0 " [cModalToggle]="staticBackdropModal.id" class="mb-3" cButton
         style="background: #93C572; border-color:#93C572">Scopri
        tutti!</a>
    </div>
  </div>
</div>

<c-modal #staticBackdropModal backdrop="static" id="storicoPagamenti" scrollable>
  <c-modal-header>
    <h2 cModalTitle>Storico Pagamenti</h2>
    <button [cModalToggle]="staticBackdropModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div clas="col-8 text-center">

      <div class="row m-3" *ngFor="let item of listaPagamenti">
        <hr>
        <h3>Dettaglio pagamento n.{{item.id}}</h3>
        <p>Pagamento effettuato il: {{item.dataPagamento |date: 'dd/MM/yy' }}</p>
        <p>Importo: {{item.importo.toFixed(2)}}€</p>
        <p>Motivazione: {{item.motivazioni}}</p>
        <hr>
      </div>

    </div>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="staticBackdropModal.id" cButton color="secondary" class="w-100"
            style="background-color:#5E7250; color:white">
      Grandioso
    </button>
  </c-modal-footer>
</c-modal>
<ng-template #listaVuota><h6 class="text-center">Non hai ancora ricevuto nessun pagamento</h6></ng-template>
