<div class="modal-header">
  <c-col>
    <h5 class="text-center mt-3" cModalTitle>Entra su WoodLot!</h5>
    <h6 class="text-center mt-3">Sei già registrato in WoodLot o sei un utente
      nuovo?
      <br/> In entrambi i casi sei nel posto giusto!</h6>
  </c-col>
  <button (click)="modalRef.close()" cButtonClose></button>
</div>
<c-modal-body>
  <ng-container *ngTemplateOutlet="form"></ng-container>
</c-modal-body>


<ng-template #form>
  <form cRow [formGroup]="formLogin"
        (ngSubmit)="onSubmit()" class="border-bottom">
    <c-col class="mb-3" [sm]="12">
      <label cLabel for="emailUtenteLogin">E-mail</label>
      <input cFormControl
             id="emailUtenteLogin" formControlName="emailUtenteLogin"
             type="text" placeholder="mariorossi@gmail.com"
      />
    </c-col>
    <c-col class="mb-3" [sm]="12">
      <label cLabel for="passwordLogin">Password</label>
      <input cFormControl
             id="passwordLogin" formControlName="passwordLogin" type="password"
             placeholder="Inserisci la tua password"
      />
      <div class="text-center my-3" *ngIf="errorMessage!= ''" style="color: red">{{errorMessage}}</div>
      <div class="row justify-content-center mt-3" [class.ng-invalid]="errorMessage!= ''">
        <input class="col-6" cButton color="primary" type="submit" value="Accedi">
      </div>
    </c-col>
  </form>
  <div class="my-3 text-muted">
    Non hai ancora un account?
    <button class="modalButton" cButton (click)="openModalRegistrazione()">
      Registrati
    </button>
  </div>
  <div class="my-3 text-muted">
    Non ricordi la tua password?
    <button cButton class="modalButton" (click)="openModalReimpostaPassword()">Reimposta password</button>
  </div>
</ng-template>
