div
{
  background: #93C572;

  margin: 0px;
  width: 100%;
  position: fixed;
  bottom: 0;
}
p
{
  text-align: center;
}
p a
{
  padding: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
/*p img
{
  height: 50px;
  width: 50px;
}*/
