<div class="text-center my-5" style="background-color:#C4D89F">
  <h1 class="my-5">Cosa puoi fare</h1>
  <div class="row mx-5 d-flex justify-content-center">
    <app-card-rettangolare-con-bottone *ngFor="let item of listCosaPuoiFare; index as i"
                                       [titolo]=listCosaPuoiFare[i] [sourceimage]=listSourceImage[i]
                                       [descrizione]=listDescrizione[i]
                                       class="col-md-4 col-sm-12 col-xs-12 mx-auto d-flex justify-content-center mb-5"
    ></app-card-rettangolare-con-bottone>
  </div>
</div>
