<app-header></app-header>
<div style="background:linear-gradient(180deg, #F4EBC7 5.73%, #FBD5B2 100%);">
  <br><br>
  <app-card-info-prodotto></app-card-info-prodotto>

  <div class="row row-cols-1 row-cols-lg-1 row-cols-xl-2 text-center  g-4 m-5 d-flex align-items-stretch">
    <app-card-descrizione-prodotto class="col"></app-card-descrizione-prodotto>
    <app-card-superpoteri class="col align-self-center"></app-card-superpoteri>
    <app-card-benefici class="col align-self-center"></app-card-benefici>
    <app-card-usi-locali class="col"></app-card-usi-locali>
  </div>

  <app-card-con-testo-con-icona-centrale-list></app-card-con-testo-con-icona-centrale-list>
  <br><br>
  <app-consiglio-alberi-list></app-consiglio-alberi-list>
  <br><br>
</div>
<app-footer></app-footer>
