<hr class="m-4" style="color:#688952;">

<div class="row  align-items-center">

  <div class="col-md-2 col-lg-2 col-xl-2 text-center">
    <img src="{{sourceImage}}" class="img-fluid">
  </div>

  <div class="col-md-4 col-lg-3 col-xl-3">
    <h6>{{prodottoCarrello.nome}}</h6>
    <c-form-check>
      <input cFormCheckInput id="checkOne" type="checkbox"/>
      <label cFormCheckLabel for="checkOne">è un regalo</label>
    </c-form-check>
  </div>

  <div class="col-md-3 col-lg-3 col-xl-2  d-flex">
    <a class="btn btn-link" style="color: black">
      <i class="fas fa-minus"></i>
    </a>
    <p class="form-control form-control">{{prodottoCarrello.quantita}}</p>
    <a class="btn btn-link" style="color: black">
      <i class="fas fa-plus"></i>
    </a>
  </div>

  <div class="col-md-2 col-lg-2 col-xl-2 offset-lg-1 text-center">
    <h6>{{getPrezzoTotale()}} €</h6>
  </div>

  <div class="col-md-1 col-lg-1 col-xl-1 text-end">
    <a><i class="fas fa-times"></i></a>
  </div>
</div>

<hr class="m-4" style="color:#688952">

