<hr class="m-4" style="color:#688952;">

<div class="row d-flex align-items-center">

  <div class="col text-center">
    <img src="{{sourceImage}}" class="img-fluid">
  </div>

  <div class="col-md-3">
    <h4>{{prodottoCarrello.nome}}</h4>
    <c-form-check>
      <input cFormCheckInput id="checkOne" type="checkbox"/>
      <label cFormCheckLabel for="checkOne">è un regalo</label>
    </c-form-check>
  </div>

  <div class="col-md-3 d-flex align-content-center">
    <a class="btn btn-link" style="color: black">
      <i class="fas fa-minus"></i>
    </a>
    <p class="form-control">{{prodottoCarrello.quantita}}</p>
    <a class="btn btn-link" style="color: black">
      <i class="fas fa-plus"></i>
    </a>
  </div>

  <div class="col-md-3">
    <h6>Prezzo totale: {{getPrezzoTotale().toFixed(2)}}€</h6>
  </div>

  <div class="col-md-1 col-lg-1 col-xl-1 text-end">
    <a><i class="fas fa-times"></i></a>
  </div>
</div>


<hr class="m-4" style="color:#688952">
