<div class="row text-center mt-4">
  <div class="col-12">
    <img class="img-fluid" src="../../../../../assets/img/diventaUnContadino/36.png" class="w-50">
  </div>
</div>
<div class="row text-center my-3 mx-3">
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    <img class="img-fluid my-2" src="../../../../../assets/img/diventaUnContadino/26.jpg">
  </div>
  <div class="col-sm-2">
    <img class="img-fluid my-2" src="../../../../../assets/img/diventaUnContadino/27.jpg">
  </div>
  <div class="col-sm-2">
    <img class="img-fluid my-2" src="../../../../../assets/img/diventaUnContadino/28.jpg">
  </div>
  <div class="col-sm-2">
    <img class="img-fluid my-2" src="../../../../../assets/img/diventaUnContadino/29.jpg">
  </div>
  <div class="col-sm-2">
    <img class="img-fluid my-2" src="../../../../../assets/img/diventaUnContadino/30.jpg">
  </div>
  <div class="col-sm-1"></div>
</div>
<div class="row text-center mx-3">
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    <img class="img-fluid my-2" src="../../../../../assets/img/diventaUnContadino/31.jpg">
  </div>
  <div class="col-sm-2">
    <img class="img-fluid my-2" src="../../../../../assets/img/diventaUnContadino/32.jpg">
  </div>
  <div class="col-sm-2">
    <img class="img-fluid my-2" src="../../../../../assets/img/diventaUnContadino/33.jpg">
  </div>
  <div class="col-sm-2">
    <img class="img-fluid my-2" src="../../../../../assets/img/diventaUnContadino/34.jpg">
  </div>
  <div class="col-sm-2">
    <img class="img-fluid my-2" src="../../../../../assets/img/diventaUnContadino/35.jpg">
  </div>
  <div class="col-sm-1"></div>
</div>
<div class="text-center">
  <p class="mt-4 mx-5">Gli obiettivi di Sviluppo Sostenibile (OSS) sono una raccolta di 17 obiettivi globali stabiliti
    dal Programma di
    sviluppo delle Nazini Unite per porre fine alla povertà, proteggere il pianeta e garantire prosperità per tutti
    nell'ambito di un anuova agenda per lo sviluppo sostenibile. Con le nostre attività di piantumazione di alberi in
    Asia, Africa, Sud America e Italia, WoodLot contribuisce al raggiungimento di 10 Obiettivi per garantire un futuro
    sostenibile.</p>
</div>
