.btn-outline-light{
  --cui-btn-bg: trasparent;
  --cui-btn-border-color: #C4D89F;
  --cui-btn-hover-border-color: #94AD6E;
  --cui-btn-hover-bg: #94AD6E;
  --cui-btn-border-radius: 15px;
  --cui-btn-active-bg: #5E7250;
  --cui-btn-active-border-color: #5E7250;
}
