.btn-primary {
  --cui-btn-bg: #5E7250;
  --cui-btn-border-color: #5E7250;
  --cui-btn-hover-border-color: #94AD6E;
  --cui-btn-hover-bg: #94AD6E;
  --cui-btn-border-radius: 15px;
  --cui-btn-active-bg: #C4D89F;
  --cui-btn-active-border-color: #C4D89F;
}

.btn-outline-secondary:hover {
  background-color: #94AD6E;
  border-color: #94AD6E;
  color: white;
}

.btn-outline-secondary:hover {
  background-color: #C4D89F;
  border-color: #C4D89F;
  color: white;
}

.form-control:focus {
  color: #C4D89F;
  background-color: var(--cui-input-focus-bg, #fff);
  border-color: #93C572;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(196, 216, 159, 1);
}

.form-select:focus {
  border-color: #93C572;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(196, 216, 159, 1);
}
