<h1 class="text-center my-3">Crea una foresta</h1>
<form cForm>
  <div class="row">
    <div class="col-lg-6 col-sm-12 mb-3">
      <label cLabel for="nomeForesta">Nome Foresta</label>
      <input cFormControl id="nomeForesta" type="text" placeholder="Nome Foresta">
    </div>

    <div class="col-lg-6 col-sm-12 mb-3">
      <label cLabel>Tipologia foresta</label>
      <select aria-label="Default select example" cSelect>
        <option value="pubblica">Pubblica</option>
        <option value="privata">Privata</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12 mb-3">
      <label cLabel>Alberi che vuoi piantare in questa foresta</label>
      <select aria-label="Default select example" cSelect>
        <option *ngFor="let item of listaAlberi" value={{item.codice}}>({{item.codice}}) - {{item.nome}}</option>
      </select>
    </div>

    <div class="col-lg-6 col-sm-12 mb-3">
      <label cLabel>Foto Foresta</label>
      <c-input-group>
        <input aria-describedby="inputGroupFileAddon04"
               aria-label="Upload"
               cFormControl
               id="inputGroupFile04"
               type="file">
        <button cButton
                color="secondary"
                id="inputGroupFileAddon04"
                type="button"
                variant="outline">
          Button
        </button>
      </c-input-group>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <input cButton color="primary" type="submit" class="col-6">
  </div>
</form>
